/* MOBIL VIDEO FULL */
@media (max-width: 768px) {

  #videoArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 10;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}


@media (max-width: 768px) {

  #controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.6);
    padding: 12px 0;
  }

  #controls button {
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 12px;
  }

}

@media (max-width: 768px) {

  #messages {
    max-height: 25vh;
    overflow-y: auto;
    font-size: 14px;
  }

}

@media (max-width: 768px){

  #status, #online {
    font-size: 13px;
    opacity: 0.8;
  }

}

